 <%- include("layout", { body: `
  <section class='home'>
    <h2>Bem-vindo(a) ao NutriKids!</h2>
    <p>Gerencie cardápios, restrições e refeições das crianças de forma simples e eficiente.</p>
  </section>
`}) %>


